<!--
  Generated template for the SummaryInputsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div *ngIf="!inputBool">
    <ion-list>
      <ion-item *ngFor="let input of printInputs">
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              {{ input.laborname }}
            </ion-col>
            <ion-col col-4 style="white-space:normal;">
              {{ input.inputname }}
            </ion-col>
            <ion-col col-4>
              {{ input.inputcost }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-8>
              Subtotal of Input Costs
            </ion-col>
            <ion-col col-4>
              {{ inputSubtotalCost }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!laborBool">
    <ion-list>
      <div *ngFor="let arrayLabor of laborArray">
          <ion-grid>
            <ion-list>
            <ion-row>
              {{ arrayLabor.laborname }}
            </ion-row>
            <ion-row>
              <ion-col col-3>
                MD
              </ion-col>
              <ion-col col-3>
                MC
              </ion-col>
              <ion-col col-3>
                MP
              </ion-col>
              <ion-col col-3>
                CPL
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3>
                {{ arrayLabor.mandays }}
              </ion-col>
              <ion-col col-3>
                {{ arrayLabor.mancost }}
              </ion-col>
              <ion-col col-3>
                {{ arrayLabor.manpower }}
              </ion-col>
              <ion-col col-3>
                {{ arrayLabor.costPerLabor }}
              </ion-col>
            </ion-row>
          </ion-list>
          </ion-grid>
      </div>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-9>
              Subtotal of Labor Costs
            </ion-col>
            <ion-col col-3>
              {{ laborSubtotalCost }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!foodBol">
    <ion-list>
      <ion-item *ngFor="let pFood of printFood">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              {{ pFood.laborname }}
            </ion-col>
            <ion-col col-6>
              {{ pFood.foodcost }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-8>
              Subtotal of Food Costs
            </ion-col>
            <ion-col col-4>
              {{ foodSubtotal }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
  <!-- <div *ngIf="!adminBool">
    <ion-list>
      <ion-item *ngFor="let admin of admin">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              {{ admin.inputName }}
            </ion-col>
            <ion-col col-6>
              {{ admin.cost }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-8>
              Subtotal of Admin Costs
            </ion-col>
            <ion-col col-4>
              {{ adminViewTotalCost }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div> -->
  <button ion-button full (click)="backHome()">Done</button>
</ion-content>
