page-choose-vegetable {
  ion-img{
    background-color: transparent;
  }
  ion-footer#title {
    padding: 10px 10px 10px 16px;
    background-color: #009241;
  }
  small {
      font-size: 70% !important;
  }
}
