page-tab-cost {
  h6#title_header{
    border: 1px solid black;
    background-color: #66ff33;
    margin-bottom: 0px;
  }
  div#inputs{
    border: 1px solid black;
  }
  ion-col#labor_details_style{
    border: 1px solid black;
  }
  h6#labor_header{
    padding: 5%;
    border: 1px solid black;
    margin-bottom: 0px;
    background-color: #cceeff;
  }
  div#admin_cost{
    border: 1px solid black;
  }
}
