<!--
  Generated template for the CarrotsInputsLaborCostsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Vegetables Costs</ion-title>
  </ion-navbar>

</ion-header> -->


  <ion-content>
    <!-- <div *ngIf="vegetable == 'carrots'; else cabbage"> -->
      <ion-card *ngIf="buttonChoicesMenu">
        <ion-card-header *ngIf="showPaymentOptions">
          Activities of the week
        </ion-card-header>
        <ion-card-header *ngIf="showPayment">
          Payments for {{ laborClicked }}
        </ion-card-header>
        <ion-list>
          <!-- <ion-item *ngIf="inputCostActivity">
            <button ion-item (click)="buttonChoice(inputs)">
              <ion-icon name="information-circle" item-start></ion-icon>
                Inputs
              <ion-icon *ngIf="!iconDown" name="arrow-forward" item-end></ion-icon>
              <ion-icon *ngIf="iconDown" name="arrow-dropdown-circle" item-end></ion-icon>
            </button>
            <form (ngSubmit)="checkActivity(0)" *ngIf="!inputCostsOption">
              <ion-list>
                <ion-item *ngFor="let inputs of inputLists">
                  <ion-label>{{ inputs.input }}</ion-label>
                  <ion-checkbox [(ngModel)]="list[inputs.id]" [ngModelOptions]="{standalone: true}" color="dark"></ion-checkbox>
                </ion-item>
              </ion-list>
              <button ion-button type="submit" block>Add Todo</button>
            </form>
          </ion-item> -->
          <!-- <ion-item *ngIf="laborCostActivity"> -->
            <!-- <button ion-item (click)="buttonChoice(labor)">
              <ion-icon name="information-circle" item-start></ion-icon>
                Labor
              <ion-icon *ngIf="!iconDown" name="arrow-forward" item-end></ion-icon>
              <ion-icon *ngIf="iconDown" name="arrow-dropdown-circle" item-end></ion-icon>
            </button>*ngIf="!laborCostsOption" -->
                <ion-list *ngIf="showPaymentOptions">
                  <ion-item *ngFor="let labor of carrotsLaborList">
                    <ion-label>{{ labor.labor }}</ion-label>
                    <ion-checkbox [(ngModel)]="list[labor.id]" [ngModelOptions]="{standalone: true}" (ionChange)="datachanged($event,labor.id,labor.labor)" color="dark"></ion-checkbox>
                  </ion-item>
                </ion-list>

                <form (ngSubmit)="checkActivity()" *ngIf="showPayment">
                  <ion-item *ngFor="let payment of showPaymentLists">
                    <ion-label>{{ payment.payment }}</ion-label>
                    <ion-checkbox [(ngModel)]="pay[payment.id]" [ngModelOptions]="{standalone: true}" color="dark"></ion-checkbox>
                  </ion-item>
                  <button ion-button type="submit" block>Submit</button>
                </form>
          <!-- </ion-item> -->
          <!-- <ion-item *ngIf="adminCostActivity">
            <button ion-item (click)="buttonChoice(administrative)">
              <ion-icon name="information-circle" item-start></ion-icon>
                Administrative
              <ion-icon *ngIf="!iconDown" name="arrow-forward" item-end></ion-icon>
              <ion-icon *ngIf="iconDown" name="arrow-dropdown-circle" item-end></ion-icon>
            </button>
            <form (ngSubmit)="checkActivity(2)" *ngIf="!adminCostsOption">
              <ion-list>
                <ion-item *ngFor="let admin of adminCostLists">
                  <ion-label>{{ admin.admin }}</ion-label>
                  <ion-checkbox [(ngModel)]="list[admin.id]" [ngModelOptions]="{standalone: true}" color="dark"></ion-checkbox>
                </ion-item>
              </ion-list>
              <button ion-button type="submit" block>Add Todo</button>
            </form>
          </ion-item> -->
          </ion-list>
      </ion-card>
      <ion-slides pager *ngIf="costInputs">
        <ion-slide *ngFor="let payment of sortedPaymentList; let i=index">
          <h1>{{ laborClicked }}</h1>
          <div *ngIf="payment.id == 0">
            <ion-item *ngFor="let inputs of inputLists">
                <ion-label stacked>{{ inputs.input}} Cost</ion-label>
                <ion-input [(ngModel)]="inputsCost[inputs.id]" type="number" pattern="[0-9]*" value="{{ default_Pay }}"></ion-input>
            </ion-item>
          </div>
          <div *ngIf="payment.id == 1">
            <ion-item *ngFor="let labor of laborLists">
              <ion-label stacked>{{ labor.laborActivity}} Cost</ion-label>
              <ion-input [(ngModel)]="laborCost[labor.id]" type="number" pattern="[0-9]*" value="{{ default_Pay }}"></ion-input>
            </ion-item>
          </div>
          <div *ngIf="payment.id == 2">
            <ion-item>
              <ion-label stacked>Food Cost</ion-label>
              <ion-input [(ngModel)]="foodcost" type="number" pattern="[0-9]*" value="{{ default_Pay }}"></ion-input>
            </ion-item>
          </div>
        </ion-slide>
        <ion-slide>
          <button ion-button color="secondary" (click)="submitInputs()">Submit</button>
        </ion-slide>
      </ion-slides>
    <!-- </div> -->
    <!-- <ion-slides *ngIf="clearing">
      <ion-slide *ngIf="clearing_labor">
        <ion-label>Labor cost for Clearing</ion-label>
        <ion-item>
          <ion-label stacked>Man Days</ion-label>
          <ion-input type="number" pattern="[0-9]*" value="{{ default }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Number of People</ion-label>
          <ion-input type="number" pattern="[0-9]*" value="{{ default }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Cost Per Head</ion-label>
          <ion-input type="number" pattern="[0-9]*" value="{{ default_Pay }}"></ion-input>
        </ion-item>
      </ion-slide>
      <ion-slide *ngIf="clearing_inputs">
        <ion-label stacked>Clearing Inputs Cost</ion-label>
        <ion-input type="number" pattern="[0-9]*" value="{{ default_Pay }}"></ion-input>
      </ion-slide>
      <ion-slide *ngIf="clearing_food">
        <ion-label stacked>Clearing Foods Cost</ion-label>
        <ion-input type="number" pattern="[0-9]*" value="{{ default_Pay }}"></ion-input>
      </ion-slide>
    </ion-slides>

      <ion-slides pager *ngIf="laborCostsInputs">
        <ion-slide *ngFor="let laborId of sortedLaborList; let i=index">
          <div *ngFor="let laborList of carrotsLaborList">
            <div *ngIf="laborId.id == laborList.id">
              <ion-list padding>
                <p> {{ laborList.labor }}</p>
                <ion-item>
                  <ion-label stacked>Man Days</ion-label>
                  <ion-input [(ngModel)]="mandays[laborList.id]" type="number" pattern="[0-9]*" value="{{ default }}"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Number of People</ion-label>
                  <ion-input [(ngModel)]="manpower[laborList.id]" type="number" pattern="[0-9]*" value="{{ default }}"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Cost Per Head</ion-label>
                  <ion-input [(ngModel)]="mancost[laborList.id]" type="number" pattern="[0-9]*" value="{{ default_Pay }}"></ion-input>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <button ion-button color="secondary" (click)="submitLaborInputs(1)">Add another activity</button>
          <button ion-button color="secondary" (click)="submitLaborInputs(0)">Submit Labor Inputs</button>
        </ion-slide>
      </ion-slides>

      <ion-slides pager *ngIf="inputCostInputs">
        <ion-slide *ngFor="let inputName of sortedLaborList; let i=index">
          <div *ngFor="let inputs of inputLists">
            <div *ngIf="inputName.id == inputs.id">
              <ion-list padding>
                <p> {{ inputs.input }}</p>
                <ion-item>
                <ion-label stacked>Enter Cost</ion-label>
              <ion-input [(ngModel)]="inputsCost[inputs.id]" type="number" pattern="[0-9]*" value="{{ default_Pay }}"></ion-input>
            </ion-item>
          </ion-list>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <button ion-button color="secondary" (click)="submitInputs(1)">Add another activity</button>
          <button ion-button color="secondary" (click)="submitInputs(0)">Submit Input</button>
        </ion-slide>
    </ion-slides>

    <ion-slides pager *ngIf="adminCostInputs">
      <ion-slide *ngFor="let adminName of sortedLaborList; let ix=index">
        <div *ngFor="let admin of adminCostLists">
          <div *ngIf="adminName.id == admin.id">
            <ion-list padding>
              <p> {{ admin.admin }}</p>
              <ion-item>
                <ion-label stacked>Enter Cost</ion-label>
                <ion-input [(ngModel)]="adminCost[admin.id]" type="number" pattern="[0-9]*" value="{{ default_Pay }}"></ion-input>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <button ion-button color="secondary" (click)="submitAdminInputs(1)">Add another activity</button>
        <button ion-button color="secondary" (click)="submitAdminInputs(0)">Submit Input</button>
      </ion-slide>
     </ion-slides> -->

     <!-- <form (ngSubmit)="checkLaborActivity()">
       <ion-list>
         <ion-item *ngFor="let admLists of adminCostLists">
           <ion-label>{{ admLists.admin }}</ion-label>
           <ion-checkbox [(ngModel)]="list[admLists.id]" [ngModelOptions]="{standalone: true}" color="dark"></ion-checkbox>
         </ion-item>
       </ion-list>
       <button ion-button type="submit" block>Add Todo</button>
     </form> -->
  </ion-content>
